@model GiftViewModel

<section class="m-2">
    <form asp-controller="Gifts" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id"/>

        @await Html.PartialAsync("_CreateOrEdit")

        <button class="btn mr-2 mt-2">Save</button>
        <a class="btn inline-block bg-red-500 mt-2" asp-controller="Gifts" asp-action="Index">Cancel</a>
    </form>
</section>