<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Santa - @ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
</head>
<body>
    
    <nav class="bg-red-700 border-green-800">
        <ul class="flex flex-col sm:flex-row text-white">
            <li><a class="inline-block p-5 text-xl" asp-controller="Home" asp-action="Index">Secret Santa</a></li>
            <li><a class="inline-block p-5" asp-controller="Users" asp-action="Index">Users</a></li>
            <li><a class="inline-block p-5" asp-controller="Groups" asp-action="Index">Groups</a></li>
            <li><a class="inline-block p-5" asp-controller="Gifts" asp-action="Index">Gifts</a></li>
        </ul>
    </nav>
    @RenderBody()

    <!-- Scripts -->
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>
    <!-- End Scripts -->
</body>
</html>