<!DOCTYPE html>
<html>
    <head>
        @{
            ViewBag.Title = "Home";
        }
    </head>

    <body>
        <h1>Welcome to the Secret Santa Gift Exchange!</h1>
        <p>"Ho Ho Ho"</p>
    </body>
</html>